In [12]:
import sys
import os

# create a path to my package
sys.path.append(os.path.abspath(".."))

from football_stats_analysis.data_handler import DataHandler

In [14]:
# load the Kaggle data set out of the package
dh = DataHandler()
df = dh.load_data()

Data loading successful.

In [16]:
# get the basic data set information
dh.get_dataset_information()

ðŸ“Š Dataset Overview
--------------------
Shape: (14507, 67)
Leagues: ['epl' 'ligue_1' 'serie_a' 'bundesliga' 'la_liga']
Seasons: ['2014-2015.csv', '2015-2016.csv', '2016-2017.csv', '2017-2018.csv', '2018-2019.csv', '2019-2020.csv', '2020-2021.csv', '2021-2022.csv']

Columns:
['Div', 'Date', 'HomeTeam', 'AwayTeam', 'HTOa', 'ATOa', 'HTAt', 'ATAt', 'HTMid', 'ATMid', 'HTDef', 'ATDef', 'HomeSquad', 'AwaySquad', 'HomeAvgAge', 'AwayAvgAge', 'HomeMV', 'AwayMV', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'HxG', 'AxG', 'HxA', 'AxA', 'HxPTS', 'AxPTS', 'HPPDA', 'APPDA', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD', 'PSCA', 'league', 'year']

Missing Values per Column:
HTHG      2
HTAG      2
HTR       2
HS        1
AS        1
HST       1
AST       1
HF        1
AF        1
HC        1
AC        1
HY        2
AY        1
HR        1
AR        1
HxA       3
AxA       3
HxPTS     1
AxPTS     1
HPPDA     1
APPDA     1
B365H     6
B365D     6
B365A     6
BWH       5
BWD       5
BWA       5
IWH      19
IWD      19
IWA      19
PSH      22
PSD      22
PSA      22
WHH       7
WHD       7
WHA       7
VCH       5
VCD       5
VCA       5
PSCH      2
PSCD      2
PSCA      2
dtype: int64

Basic Statistics (numeric columns):
               HTOa          ATOa          HTAt          ATAt         HTMid  \
count  14507.000000  14507.000000  14507.000000  14507.000000  14507.000000
mean      76.444337     76.445095     77.132419     77.131454     76.189977
std        3.675912      3.676542      4.481718      4.484761      3.941304
min       67.000000     67.000000     64.000000     64.000000     63.000000
25%       74.000000     74.000000     74.000000     74.000000     74.000000
50%       76.000000     76.000000     77.000000     77.000000     76.000000
75%       79.000000     79.000000     80.000000     80.000000     79.000000
max       86.000000     86.000000     92.000000     92.000000     89.000000

              ATMid         HTDef         ATDef     HomeSquad     AwaySquad  \
count  14507.000000  14507.000000  14507.000000  14507.000000  14507.000000
mean      76.194044     75.635073     75.636451     37.538499     37.538223
std        3.947214      3.724651      3.722379      6.434566      6.434589
min       63.000000     64.000000     64.000000     25.000000     25.000000
25%       74.000000     73.000000     73.000000     33.000000     33.000000
50%       76.000000     75.000000     75.000000     37.000000     37.000000
75%       79.000000     78.000000     78.000000     41.000000     41.000000
max       89.000000     87.000000     87.000000     88.000000     88.000000

       ...           PSA           WHH           WHD           WHA  \
count  ...  14485.000000  14500.000000  14500.000000  14500.000000
mean   ...      4.915274      2.812852      3.920908      4.676281
std    ...      4.502234      2.071483      1.258532      4.247873
min    ...      1.090000      1.020000      1.200000      1.080000
25%    ...      2.440000      1.700000      3.200000      2.400000
50%    ...      3.510000      2.250000      3.500000      3.300000
75%    ...      5.450000      3.000000      4.000000      5.000000
max    ...     48.750000     26.000000     19.000000     51.000000

                VCH           VCD           VCA          PSCH          PSCD  \
count  14502.000000  14502.000000  14502.000000  14505.000000  14505.000000
mean       2.866397      4.103015      4.897394      2.939099      4.227670
std        2.247525      1.514149      4.806441      2.332450      1.684775
min        1.030000      2.200000      1.070000      1.040000      2.300000
25%        1.700000      3.300000      2.400000      1.700000      3.370000
50%        2.200000      3.600000      3.400000      2.260000      3.660000
75%        3.100000      4.200000      5.250000      3.180000      4.370000
max       36.000000     26.000000     67.000000     37.630000     26.600000

               PSCA
count  14505.000000
mean       4.995999
std        4.732794
min        1.080000
25%        2.430000
50%        3.540000
75%        5.550000
max       52.770000

[8 rows x 59 columns]

In [18]:
# display the first rows of the data set
display(df.head())

,Div,Date,HomeTeam,AwayTeam,HTOa,ATOa,HTAt,ATAt,HTMid,ATMid,...,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA,league,year
0,E0,2020-09-12,Fulham,Arsenal,73,80,75,82,74,81,...,4.2,1.53,6.50,4.20,1.55,5.48,3.98,1.69,epl,2020-2021.csv
1,E0,2020-09-12,Crystal Palace,Southampton,77,76,77,77,77,76,...,3.2,2.35,3.20,3.20,2.40,3.09,3.27,2.54,epl,2020-2021.csv
2,E0,2020-09-12,Liverpool,Leeds,85,72,89,71,83,73,...,6.0,10.00,1.30,5.75,10.50,1.28,6.34,11.38,epl,2020-2021.csv
3,E0,2020-09-12,West Ham,Newcastle United,78,77,79,77,78,77,...,3.5,3.40,2.15,3.40,3.60,2.04,3.59,3.92,epl,2020-2021.csv
4,E0,2020-09-13,West Bromwich Albion,Leicester,72,80,71,79,74,78,...,3.6,1.95,4.00,3.50,1.95,3.38,3.38,2.32,epl,2020-2021.csv